spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/bin/mate-polkit"
spawn-sh-at-startup "gnome-keyring-daemon --start --components=pkcs11,secrets,ssh"

// spawn-at-startup "swww-daemon"
//  spawn-at-startup "pikabar"
