include "config/io.kdl"
include "config/ui.kdl"
include "config/env.kdl"
include "config/rules.kdl"
include "config/binds.kdl"

include "dms/cursor.kdl"
include "dms/colors.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/layout.kdl"
// include "dms/outputs.kdl"
